/*****************************************************
 * General/Layout
 *****************************************************/ 
body {
	background: #fff 50% 0;
	/*background: #515560 50% 0;*/
	font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitsream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
	font-weight: normal;
	color: #777;
}

#header {
	width: 780px;
	margin: 40px auto 20px;
}

#content {
	background: #e7e7e7;
	border: 1px solid #151111;
	width: 780px;
	margin: 0 auto 0;
	text-align:center;
	padding: 0 0 50px 0;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}

/*****************************************************
 * Typography
 *****************************************************/ 

h1 {
	font-size: 34px;
	margin: 20px 0;
	letter-spacing: -1px;
	padding-left: 40px;
}

#header h1 {
	color: #FFFFFF;
	font-size: 24px;
	padding: 0;
	text-align: center;
}

h2 {
	font-size: 20px;
	margin: 10px 0 15px 0;
	border-bottom: 1px dotted #ccc;
	color: #006;
}

h3 {
	font-size: 16px;
	line-height: 20px;
	padding: 0 0 5px 0;
	border-bottom: 1px dotted #ccc;
	margin: 0 0 5px 0;
	color:#333;	
	
}

ul li {
	font-size: 14px;
}

p {
	font-size: 5px;
	line-height: 1px;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;	
}

/*****************************************************
 * Forms and Form related stuff
 *****************************************************/
input.hintTextbox, textarea.hintTextbox {
	border: 1px solid #ccc !important;
	padding: 2px;
	height:25px;
	font-size:18px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#CECECE;
}
 input.text, textarea.text {
	border: 1px solid #ccc !important;
	padding: 2px;
	height:25px;
	font-size:18px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	color:#000;
} 
 
ul.form {
	border: none;
}

ul.form li {
	font-size: 14px;
	border: none;
	margin: 0 0 15px 0;
}
label.desc {
	display: block;
	font-weight: normal;
	float: left;
	width: 100px;
	padding: 5px 0 0 0;
	margin: 0 5px 0 0;
	color: #444;
	text-align: right;
}


.button {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.button:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.button:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 5px 0px;
    padding:5px 2px 5px 10px;
    background-repeat: no-repeat;
    background-position: 10px center;
	font-size:14px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}
.load {
    color: #4F8A10;
    background-color: #DFF2BF;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	font-size:24px;
}


.button {
	padding: 2px 5px !important;
	font-size: 16px !important;
	cursor: pointer !important;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	height:35px;
}

/* Table Start */
table.list-view{
	width:100%;
	margin:15px 0 0 0;
	border:1px solid #d9d9d9;
}
table.titled{ margin-top:0; }

	table.list-view th{
		font-weight:bold;
		padding:11px 4px 11px 11px;
		background:#666;
	}

	table.list-view tr:nth-child(odd) td{ background-color:#fafafa; }

	table.list-view td{
		padding:7px 4px 7px 11px;
		border-top:1px solid #d9d9d9;
	}
	
	table.list-view tr:nth-child(even) td{
		background-color:#f7f7f7;
	}

	table.list-view tr td.message{
		text-align:center;
		font-weight:bold;
	}

	table.list-view tr td.title{
		font-weight:bold;
	}
	
	table.list-view tr td.title a{
		text-decoration:none;
	}
	table.list-view tr td.title a:hover{
		color:#666666;	
	}

			
.teamGameLeadersHolder{
	overflow: hidden; 
	background: #e1e1e1; 
	background: -moz-linear-gradient(center top , #f2f2f2, #e1e1e1); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(100%,#e1e1e1)); 
	-moz-border-radius: 4px 4px 0 0; 
	-webkit-border-radius: 4px 4px 0 0; 
	border-radius: 4px 4px 0 0; 
	-webkit-box-shadow: 0 1px 0 #FFF inset; 
	-moz-box-shadow: 0 1px 0 #FFF inset; 
	box-shadow: 0 1px 0 #FFF inset;
}

.teamGameLeadersHolder .tgl{
	float:left;
	clear:both;
	width:100%;
	_width:100%;
	list-style-type:none;
	font-size:11px;
	padding:5px 0px 0px 0px;
	margin:0px 0px 0px 2px;
	_margin-left:1px;
	text-align:center;
	color:#000;
	background:#F5F5F5;
	font-size:14px;
}

.teamGameLeadersHolder .gl_on,
.teamGameLeadersHolder .gl_off{
	display: block;
	text-decoration:none;
	float: left; 
	font: 15px/35px Arial, Helvetica, Sans-serif; 
	padding: 0 20px 0 40px; 
	color: #666;
	width:95px;
	position: relative;
	overflow: hidden;
}

.teamGameLeadersHolder .gl_on{
	color:#000;
	background:#F5F5F5;
	font-weight:bold;
	border-bottom:2px solid #E1E1E1;
	border-top:2px solid #ffffff;
}

.teamGameLeadersHolder .gl_off{
	color:#000;
	background:#E1E1E1;
	font-weight:bold;
	border-bottom:2px solid #ffffff;
	border-top:2px solid #ffffff;
	text-decoration:underline;
}
