body{
	margin: 0px;
	padding: 0px;
	background-image: radial-gradient(#c7c7c7 25%, #c7c7c7 74%);
	font-family: system-ui;
}

.clearfix{
	clear: both;
}

.main{
	height: 1150px;
	width: 800px;
	background-color: white;
	box-shadow: 5px 7px 15px #b9b6b6;
	margin: 20px auto;
}
.top-section{
	background-color: #151b29;
	text-align:center;
	padding: 20px;
}

.profile{
	width: 150px;
	border-radius: 50%;
}

.p1{
	color: white;
	font-size: 40px;
	font-weight: bold;
	margin: 0px;
	margin-top: 10px;
}

.p1 span{
	font-weight: 100;
	color: #c7c7c7;
	font-weight: bold;
}

.p2{
	font-size: 20px;
	color: #c7c7c7;
	margin-top: 10px;
}